    <!DOCTYPE html>
    <html>
    <head>
		<base href="{PRIV.BASE.HREF}" />

		<title>iUI Extended Styles Demo</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<link rel="icon" type="image/png" href="admin/3rdparty/iui/iui-favicon.png">
		<link rel="apple-touch-icon" href="admin/3rdparty/iui/iui-logo-touch-icon-hd.png" />
		<link rel="apple-touch-startup-image" href="admin/3rdparty/iui/iui-startup.png">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="stylesheet" href="admin/3rdparty/iui/iui.css" type="text/css" />
		<link rel="stylesheet" title="Default" href="admin/3rdparty/iui/t/default/default-theme.css"  type="text/css"/>
		<script type="application/x-javascript" src="admin/3rdparty/iui/iui.js"></script>


		<!-- MUST BE PLACED AFTER THE SKINS HREFS -->
		<link rel="stylesheet" href="admin/3rdparty/iui/ext-sandbox/ext-css/iui-ext.css"  type="text/css"/> <!-- only to use code class in about page -->
		<link rel="stylesheet" href="admin/3rdparty/iui/ext-sandbox/ext-css/iui-buttons.css" type="text/css" />
		<link rel="stylesheet" href="admin/3rdparty/iui/ext-sandbox/ext-css/iui-lists.css" type="text/css" />

		<link rel="stylesheet" href="admin/3rdparty/iui/ext-sandbox/ext-css/iui-photoalbum.css" type="text/css" />
		<link rel="stylesheet" href="admin/3rdparty/iui/custom.css" type="text/css" />


		<link rel="stylesheet" href="admin/3rdparty/iui/ext-sandbox/video/iui-video.css" type="text/css" />
		<script type="application/x-javascript" src="admin/3rdparty/iui/ext-sandbox/video/iui-video.js"></script>
		<script type="application/x-javascript" src="admin/3rdparty/iui/ext-sandbox/video/iui-video-logger.js"></script>
    </head>
	<body>
		{PB_EVENTS}
		{PUB:FOOTER_SUBMENUS}
	</body>
	</html>