<install>
	<folders>
		<check>../upload</check>
		<create>../upload/homepage</create>
		<create>../upload/pages</create>
		<create>../upload/clients</create>
		<create>../upload/about</create>
		<create>../upload/backgrounds</create>
		<create>../upload/banners</create>
		<create>../upload/team</create>
		<create>../upload/default-images</create>
		<create>../upload/userfiles</create>
		<create>../upload/resumes</create>
		<create>../upload/tmp</create>
		<create>../upload/blog</create>
		<create>../upload/contact</create>
		<create>../upload/portfolio</create>
		<create>../upload/services</create>
		<create>../upload/conf</create>
		<create>../upload/galleries</create>
		<create>../upload/sharing</create>
		<create>../upload/shop</create>
		<create>../upload/pages/image</create>
		<create>../upload/pages/images</create>
		<create>../upload/blog/authors</create>
		<create>../upload/portfolio/3</create>
		<create>../upload/portfolio/4</create>
		<create>../upload/galleries/a</create>
		<create>../upload/galleries/6</create>
		<create>../upload/galleries/3</create>
		<create>../upload/galleries/4</create>
		<create>../upload/galleries/5</create>
		<create>../upload/shop/files</create>
		<create>../upload/shop/gallery</create>
	</folders>

	<database>
		<table>site_oxymall_core_modules</table>
		<table>site_oxymall_core_modules_user</table>
		<table>site_oxymall_core_vars</table>
		<table>site_oxymall_plugin_background_items</table>
		<table>site_oxymall_plugin_banner_images</table>
		<table>site_oxymall_plugin_banner_texts</table>
		<table>site_oxymall_plugin_blog_authors</table>
		<table>site_oxymall_plugin_blog_cats</table>
		<table>site_oxymall_plugin_blog_items</table>
		<table>site_oxymall_plugin_clients_cats</table>
		<table>site_oxymall_plugin_clients_images</table>
		<table>site_oxymall_plugin_comments</table>
		<table>site_oxymall_plugin_contact_fields</table>
		<table>site_oxymall_plugin_contact_links</table>
		<table>site_oxymall_plugin_contact_messages</table>
		<table>site_oxymall_plugin_galleries_cats</table>
		<table>site_oxymall_plugin_galleries_items</table>
		<table>site_oxymall_plugin_homepage_images</table>
		<table>site_oxymall_plugin_jobs_cats</table>
		<table>site_oxymall_plugin_jobs_fields</table>
		<table>site_oxymall_plugin_jobs_items</table>
		<table>site_oxymall_plugin_jobs_resumes</table>
		<table>site_oxymall_plugin_mail_emails</table>
		<table>site_oxymall_plugin_mail_queue</table>
		<table>site_oxymall_plugin_newsletters_history</table>
		<table>site_oxymall_plugin_newsletters_items</table>
		<table>site_oxymall_plugin_newsletters_subscribers</table>
		<table>site_oxymall_plugin_news_items</table>
		<table>site_oxymall_plugin_portfolio_cats</table>
		<table>site_oxymall_plugin_portfolio_items</table>
		<table>site_oxymall_plugin_portfolio_projects</table>
		<table>site_oxymall_plugin_services_cats</table>
		<table>site_oxymall_plugin_services_items</table>
		<table>site_oxymall_plugin_sharing</table>
		<table>site_oxymall_plugin_shop_accounts</table>
		<table>site_oxymall_plugin_shop_cart</table>
		<table>site_oxymall_plugin_shop_cats</table>
		<table>site_oxymall_plugin_shop_countries</table>
		<table>site_oxymall_plugin_shop_files</table>
		<table>site_oxymall_plugin_shop_files_history</table>
		<table>site_oxymall_plugin_shop_images</table>
		<table>site_oxymall_plugin_shop_items</table>
		<table>site_oxymall_plugin_shop_log_paypal</table>
		<table>site_oxymall_plugin_shop_orders</table>
		<table>site_oxymall_plugin_shop_questions</table>
		<table>site_oxymall_plugin_shop_reviews</table>
		<table>site_oxymall_plugin_shop_shipping</table>
		<table>site_oxymall_plugin_shop_variations</table>
		<table>site_oxymall_plugin_team_cats</table>
		<table>site_oxymall_plugin_team_items</table>
		<table>site_oxymall_plugin_users</table>
		<table>site_oxymall_plugin_users_access</table>
		<table>site_oxymall_plugin_users_groups</table>
		<table>site_users</table>
	</database>

	<sample-content>
		<file>homepage/1.jpg</file>
		<file>homepage/admin_1.jpg</file>
		<file>clients/1.jpg</file>
		<file>clients/admin_1.jpg</file>
		<file>banners/1.jpg</file>
		<file>banners/admin_1.jpg</file>
		<file>team/1.jpg</file>
		<file>team/large_1.jpg</file>
		<file>team/admin_1.jpg</file>
		<file>portfolio/admin_project_1.jpg</file>
		<file>portfolio/project_1.jpg</file>
		<file>portfolio/3/project_1.jpg</file>
		<file>portfolio/4/project_1.jpg</file>
		<file>services/1.jpg</file>
		<file>services/admin_1.jpg</file>
		<file>galleries/tn_1.jpg</file>
		<file>galleries/1.jpg</file>
		<file>galleries/a/tn_1.jpg</file>
		<file>galleries/6/tn_1.jpg</file>
		<file>galleries/3/tn_1.jpg</file>
		<file>galleries/4/tn_1.jpg</file>
		<file>galleries/5/tn_1.jpg</file>
		<file>shop/list_6.jpg</file>
		<file>shop/admin_1.jpg</file>
		<file>shop/1.jpg</file>
		<file>shop/list_1.jpg</file>
		<file>shop/large_1.jpg</file>
	</sample-content>

	<skins-files>
		<file>logo.png</file>
		<file>backgrounds/2.jpg</file>
		<file>default-images/comments-avatar.jpg</file>
		<file>contact/39.png</file>
		<file>sharing/2.png</file>
		<file>sharing/1.png</file>
		<file>.htaccess</file>
	</skins-files>

</install>